:root {
  --branding-color: #582a6a;
  --heading-font-family: "Playfair Display", serif;
  --default-font-family: "Poppins", sans-serif;
  --secondary-color: #f1f4f3;
}

h1,
h2,
h3,
h4,
h5 {
  color: black;
  font-family: var(--heading-font-family);
  font-weight: bold;
}
h1 {
  font-size: 96px;
}
p {
  font-family: var(--default-font-family);
  font-weight: normal;
}
.hero {
  background-color: var(--secondary-color);
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-size: 36px;
  font-weight: bold;
  margin: 0px;
  color: #272142;
}
.hero h2 {
  font-family: var(--default-font-family);
  font-weight: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 36px;
  color: #272142;
}
.btn-branding {
  transition: all 200ms ease-in-out;
  background: var(--branding-color);
  border-radius: 4px;
  padding: 18px 30px;
  line-height: 27px;
  font-size: 18px;
  color: white;
}
.btn-branding:hover {
  cursor: pointer;
  color: var(--branding-color) !important;
  background-color: var(--secondary-color) !important;
  border-color: var(--branding-color) !important;
}

.btn-branding-outline {
  transition: all 200ms ease-in-out;
  background-color: white;
  border-color: var(--branding-color);
  border-radius: 4px;
  padding: 18px 30px;
  line-height: 27px;
  font-size: 18px;
  color: var(--branding-color);
}
.btn-branding-outline:hover {
  cursor: pointer;
  color: var(--secondary-color) !important;
  background-color: var(--branding-color) !important;
  opacity: 0.8;
}
.project-description p {
  opacity: 70%;
  line-height: 30px;
  font-size: 16px;
  font-weight: 400;
  /* text-align: justify; */
  padding: 2rem 0rem;
}
.project-description h2 {
  font-size: 48px;
  line-height: 85px;
}
.project-description {
  padding: 90px 30px;
}
.content h1 {
  font-size: 64px;
  line-height: 85px;
}
.content h2 {
  font-family: var(--default-font-family);
  font-size: 18px;
}
.content h3 {
  font-family: var(--default-font-family);
  font-size: 24px;
}

.content p {
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  opacity: 70% !important;
}
.content-container {
  padding: 80px 20px;
}

.content {
  padding: 40px;
}
.contact-content {
  padding: 100px 0px 0px 0px;
}
.fa-linkedin {
  color: #183153;
}
.fa-at {
  color: #d83e31;
}
a.nav-link.active {
  position: relative;
}
a.nav-link.active::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 2px;
  left: 5%;
  width: 90%;
  height: 1px;
  background-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(88, 42, 106, 0.3),
    rgba(88, 42, 106, 0.75),
    rgba(88, 42, 106, 0.3),
    rgba(0, 0, 0, 0)
  );
}
.navbar {
  background-color: var(--secondary-color);
}
.nav-item {
  margin-left: 15px;
}

@media (max-width: 990px) {
  h1 {
    font-size: 76px;
  }
  .project-description h2 {
    font-size: 40px;
    text-align: center;
  }
  .weather-description {
    order: 2;
  }
  .project-description {
    padding-top: 20px;
    padding-bottom: 50px;
  }
  .project-description p {
    text-align: justify;
  }
  .btn-mobile {
    border-radius: 70px;
    width: 100%;
    text-align: center;
    display: inline-block;
  }
  .content-container {
    padding: 0px;
    text-align: center;
  }
  .contact-content {
    padding-top: 30px;
  }
  .work-content p {
    margin-bottom: 30px !important;
  }
  .work-content div.row {
    margin-top: 0px !important;
  }
  .work-content h1,
  .contact-content h1 {
    font-size: 46px;
  }
}
@media (min-width: 990px) and (max-width: 1200px) {
  .project-description {
    padding: 0px 10px;
  }
}
